h1 {
    margin: 0px;
    width: 100%;
    box-shadow: 10px 10px 15px gray;
    font-size: 40px;
}

.btn-success:hover {
    background-color: aqua;
}

canvas{
    animation-name: Keeraan_Mustache;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes Keeraan_Mustache{
    from{
        box-shadow: 10px 10px 15px gray;
    }
    to{
        box-shadow: 10px 10px 15px blue;
    }
}
